<h1>New Manufacturer Page</h1>

<%= form_for @manufacturer do |f| %>
	<% if @manufacturer.errors.any? %>
    <p> There were errors with your submission:</p>
    <ul>
      <% @manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :name, 'Manufacturer Name' %><br>
    <%= f.text_field :name %><br>
  </p>

  <p>
    <%= f.label :country, 'Manufacturer Country' %><br>
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
